
<div id="wrapper">
<%= render 'navigation'%>
<div id="aboutus_content">
		<label class="text">Malai Nabiseu Bal Griha:</label><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle	t anything embarrassing hidden in the middle of text.</p>
		
</div>		<!--end of aboutus_content---->

<div id="ourvision">	
			<div class="vision_image">
<%= image_tag "vision.png" %>
			</div>	<!--end of vision_image---->
			<div class="vision_text">

					<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle	t anything embarrassing hidden in the middle of text.   </p>
			
			</div>		<!--end of vision_text---->
</div>		<!--end of ourvision ---->

<div id="ourhistory">
			<div class="history_image">
<%= image_tag "history.png" %>
			</div>		<!--end of history_image---->
			<div class="history_text">

					<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle	 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words </p>
			
			</div>		<!--end of history_text---->
</div>			<!--end of ourhistory---->



<div id="boardmember">
			<div class="boardmember_image">
<%= image_tag "members.png" %>
			</div>		<!--end of boardmember_image---->
		<div id="profile">
			<div class="boardmember_profile">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>		<!--end of board_image---->
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>
		<div class="boardmember_profile">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

		<div class="boardmember_profile">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

		<div class="boardmember_profile">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

		<div class="boardmember_profile">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

	<div class="boardmember_profile">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

	<div class="boardmember_profile">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

	<div class="boardmember_profile">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

	<div class="boardmember_profile">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>
		</div>
	<div id="line_image">
			<%= image_tag "line.png" %>
</div>
	</div>
	
</div>

<%= render 'image_slider'%>
<%= render 'lowercontent'%>
<%= render 'footer'%>


