
<div id="wrapper">
<%= render 'navigation'%>
<div id="aboutus_content">
		<div id="aboutus_title">
		</div>
		<label class="text">Malai Nabiseu Bal Griha:</label><p>Malai Nabirseu Bal Griha is a non-government organization located at Old-Baneshwor, Kathmandu. The charity organization began its prime role since April 1st 2005 and has been providing love and care to the helpless and deprived orphans since then. Our organization's goal is to provide the children with an education and help them become good, honest and responsible citizens. The Griha has been doing commendable work of philanthropy. The children that are deprived of the true parental love and care are getting a real home, where they can see surest guarantee of a bright and prestigious future. Irrespective of circumstances of birth, our main perspective is to help them grow intellectually stronger and getting the right culture day by day at a home , away from their "homes" which indeed never existed.</br>
Charity has no parallel on earth when it comes to the service. We can proudly say that, at time when competition and corporatism are swallowing the globe, it gives us astonishing pleasure to think about the lives of these helpless and deprived children . Malai Nabirseu Bal Griha is the organization where we believe charity is a way of life, and where true humanity is building up a beautiful example of a family where narrow domestic walls have not broken the world into fragments.
There are currently 21 children being cared for at our orphanage home, aged between 9 and 18. Some have lost their parents, others have come from families who simply couldn't afford to look after them. But what they share is a zest for life, and a dream for a greater future.</p>

</div>		<!--end of aboutus_content---->

<div id="ourvision">
			<div id="vision_title">

			</div>	<!--end of vision_image---->
			<h1>Our Vision</h1>

					<p>
* It is a non-profit organization. We help children who are homeless, orphan cause of war, disease, natural disaster to be a capable citizen.</br>
* To do fieldwork and research for betterment of children.</br>
* To provide health, sanitation, education, entertainment.</br>
* To help orphan and street children find their birth date, birth place, caste, etc truly certified his birth.</br>
* To protect children right of orphan and street childrens.</br>
* To create social awareness  about children right and sexual abuse against children.</br>
* To stop child labour, selling of childrens and sexual haresment.</br>
* To create awareness and social responsibilities within the children.</br>
* To protect children from malnutrition and</br>
* To train children to be independent.  </br>
</p>

</div>		<!--end of ourvision ---->

<div id="ourhistory">
			<div id="history_title">

			</div>
			<h1>Our History</h1>

					<p> It all began when we helped an American couple(friend of ours) adopt a two year old girl from the Bal Griha(orphanage) in Kathmandu. Sixteen years later, in 2004 the same girl came as a young volunteer to work in different orphanage in Kathmandu. Along with her were volunteers from various countries with whom i got acquainted. Together we visited the orphanage that they were working in. The more time these volunteers spent there, the more they became familiar with the children. It became apparent that the children's Homes were not operating up to the mark and children were found suffering from malnutrition and various skin disorders due to the unsanitary and unhygienic environment there. It was realized that the operating funds received by these orphanage had not been properly utilized. It was heartbreaking to see these innocent children suffer for no fault of theirs.</br>Having seen these problems, the volunteers approached me to start a children's Home Nepal. However, this would solely be for girls, taking into account the deprivation and exploitation the girl children are facing everyday in the country.</br>In the December 2005 with the meager fund we generated from our members and wishers, we established "Malai Nabirseu Bal Griha" with four little girls to start with, in a small flat in Gujeshwori. Here were children who looked up to us with hope in their eyes and from there on there was no looking back. With increased funds and supports from our Australian donors we feel proud to now accommodate 21 girls in a new building. Through our girls come from different backgrounds, cast and creed, they all are learning to live as one happy family, under one root, loving, sharing and caring for each other. being, among these children gives me immense joy and pride. There is no one untouched by their smile and warmth. They are our inspiration and they deserve what is rightfully theirs. We will ensure every opportunity to them to grow up as they independent individual and a responsible citizen of Nepal. </p>


</div>			<!--end of ourhistory---->


<div class="boardmember_title">
				<p> Committee Member of Malai Nabirsue Bal Griha</p>
</div>
<div class="boardmember">

		<div class="profile">
			<div class="boardmember_profile1">
					<div class="board_image">
					<%= image_tag "foopu3.png",:title=>"Mrs. Bijaya Bista" %>

					</div>		<!--end of board_image---->
					<div class="board_text">

                    <label class="name1">Name:</label><span class="experience"> Mrs. Bijaya Bista</span></br>
                    <label class="name1">Designation:</label><span class="experience">Chairman</span></br>
                    <label class="name1">Address:</label><span class="experience">Bishalnagar, Kathmandu</span></br>

					</div>
			</div>
		<div class="boardmember_profile2">
					<div class="board_image">
              <%= image_tag "foopu4.png",:title=>"Mrs. Dhana Maya Limbu" %>
					</div>
					<div class="board_text">

                    <label class="name1">Name:</label><span class="experience"> Mrs. Dhana Maya Limbu</span></br>
                    <label class="name1">Designation:</label><span class="experience">Vice-Chairmain</span></br>
                    <label class="name1">Address:</label><span class="experience">Budhanagar, Kathmandu</span></br>

					</div>
			</div>

</div>

<div class="line_image_border2"></div>
	<div class="profile">
		<div class="boardmember_profile1">
					<div class="board_image">
					<%= image_tag "foopu.png",:title=>"Neena Thapa" %>

					</div>
					<div class="board_text">

                    <label class="name1">Name:</label><span class="experience"> Mrs. Neena Thapa</span></br>
                    <label class="name1">Designation:</label><span class="experience">Secretary General</span></br>
                    <label class="name1">Address:</label><span class="experience">Minbhawan, Kathmandu</span></br>

					</div>
			</div>

		<div class="boardmember_profile2">
					<div class="board_image">
						<%= image_tag "foopu6.png",:title=>"Sishila Amatya" %>
					</div>
					<div class="board_text">

                    <label class="name1">Name:</label><span class="experience"> Mrs.Sishila Amatya</span></br>
                    <label class="name1">Designation:</label><span class="experience">Deputy Secretary</span></br>
                    <label class="name1">Address:</label><span class="experience">Lagankhel,Kathmandu</span></br>
					</div>
			</div>
</div>
<div class="line_image_border2"></div>

			<div class="profile">
		<div class="boardmember_profile1">
					<div class="board_image">
             <%= image_tag "foopu7.png",:title=>"Meena Thapa" %>                
					</div>
					<div class="board_text">

                    <label class="name1">Name:</label><span class="experience"> Mrs. Meena Shrestha</span></br>
                    <label class="name1">Designation:</label><span class="experience">Treasure</span></br>
                    <label class="name1">Address:</label><span class="experience">Balaju, Banasthali, Kathmandu</span></br>
					</div>
			</div>

		<div class="boardmember_profile2">
					<div class="board_image" style="width:160px; height:189px; border-bottom:8px solid #c0dade;">
						<%= image_tag "foopu5.png",:title=>"Sarita Thapa" %>
					</div>
					<div class="board_text">

                   <label class="name1">Name:</label><span class="experience"> Mrs. Sarita Thapa</span></br>
                    <label class="name1">Designation:</label><span class="experience">Member</span></br>
                    <label class="name1">Address:</label><span class="experience">Chahbil, Kathmandu</span></br>
					</div>
			</div>
</div>
<div class="line_image_border2"></div>

		<div class="profile">
		<div class="boardmember_profile1">
					<div class="board_image">
						<%= image_tag "foopu8.png",:title=>"Jyoti Thapa" %>
					</div>
					<div class="board_text">

                    <label class="name1">Name:</label><span class="experience"> Mrs. Jyoti Thapa</span></br>
                    <label class="name1">Designation:</label><span class="experience">Member</span></br>
                    <label class="name1">Address:</label><span class="experience">Chahbil, Kathmandu</span></br>
					</div>
			</div>

		<div class="boardmember_profile2">
					<div class="board_image">
						<%= image_tag "foopu2.png",:title=>"Mrs. Shaibya Pradhan" %>
					</div>
					<div class="board_text">

                    <label class="name1">Name:</label><span class="experience"> Mrs. Shaibya Pradhan</span></br>
                    <label class="name1">Designation:</label><span class="experience">Member</span></br>
                    <label class="name1">Address:</label><span class="experience">Balaju, Banasthali, Kathmandu</span></br>
					</div>
			</div>
</div>
<div class="line_image_border2"></div>
		<div class="profile">
		<div class="boardmember_profile1">
					<div class="board_image">
						<%= image_tag "foopu1.png",:title=>"Mrs. Hari Devi Rana" %>
					</div>
					<div class="board_text">

                    <label class="name1">Name:</label><span class="experience"> Mrs. Hari Devi Rana</span></br>
                    <label class="name1">Designation:</label><span class="experience">Member</span></br>
                    <label class="name1">Address:</label><span class="experience">Bafal, Kathmandu</span></br>
					</div>
				</div>
			</div>
</div>
		</div>




	</div>

</div>

<%= render 'lowercontent'%>
<%= render 'footer'%>
