
<div id="wrapper">
<%= render 'navigation'%>
<div id="aboutus_content">
		<h1>ABOUT US</h1>
		<p class="text_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
		<p	class="text_2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
		<p	class="text_3">It is a long established fact that a reader will be distracted by the readable</p>
		<p	class="text_4">Contrary to popular belief.</p>
</div>

<div id="ourvision">
			<div class="vision_image">
<%= image_tag "our_vision.png" %>
			</div>
			<div class="vision_text">
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle	t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc
There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem  </p>

			</div>
</div>


<div id="ourhistory">
			<div class="history_image">
<%= image_tag "our_history.png" %>
			</div>
			<div class="history_text">
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle	t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefo, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem  </p>

			</div>
</div>


<div id="boardmember">
			<div class="boardmember_image">
<%= image_tag "board_member.png" %>
			</div>
			<div class="boardmember_text">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>
		<div class="boardmember_text">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

		<div class="boardmember_text">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

		<div class="boardmember_text">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

		<div class="boardmember_text">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

	<div class="boardmember_text">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

	<div class="boardmember_text">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

	<div class="boardmember_text">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>

	<div class="boardmember_text">
					<div class="board_image">
					<%= image_tag "alisha.jpg",:class=>"board_name" %>
					</div>
					<div class="board_text">

                    <label class="name">Name:</label><span> Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
					</div>
			</div>
</div>
</div>
		<%= render 'footer'%>
