<div id="wrapper">
<%= render 'navigation'%>



		<div class="cn_wrapper">

			<div id="cn_preview" class="cn_preview">
				<div class="cn_content" style="top:0px;">
					<div class="children_top_border">
					</div>
					<div id="alisha1_image">
							<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					</div>
					<div id="bold_content">
							<h1>Arival Date Jan 2006</h1>
									<p>Alisha came to Malai Nabirsue Bal Griha's as a 5 years old with 
severe malnutrition and with weight and size equivalent of a 2 year old.
 Alisha was withdrawn, sad, lonely and uncommunicative. We believe that 
Alisha came from an abusive childhood and for the first 3months would 
spend much of her time crying and in a very dark place. Initially she 
only responded to long quiet time spent in someone's lap. Her attempts 
at drawing were in black pencil in angry clouded swirls.</p></br>Alive and inquisitive. Over the period of 5 years Alisha has blossomed 
into a girl that now trusts wholeheartedly in the four walls of love and
 support.
					</div>

					<a href="#" target="_blank" class="cn_more"></a>

				</div>
				<div class="cn_content">
				<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2006</h1>

					<p>Anita arrived at Malai Nabirsue Bal Griha's at the same time as Alisa.
She was 5 yearsold and had scabies and malnutrition. When she arrived 
Anita was a moody little girl that would cry out for attention. 
Underneath you could that in the past she had to fight to survive and 
initially she took this trait into MNBG. Underneath her broody moody 
ways was a little girl who responded well to attention and constant 
love.
</br></br>Over Anita's 5 year period at MNBG we have watched Anita first grow
into her home, and then fill it full of her vibrancy and energy. Anita 
has developed into a charming friend to all the girls at Malai Nabirsue Bal Griha! 
She is often found playing with the other children in small groups with 
co operation and fairness.
Anita has a broad smile that matches her heart for excitement! She is
enthusiastic, well mannered and well loved by her Sisters!
						</p>

					<a href="#" target="_blank" class="cn_more"></a>
			</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2008</h1>

					<p>
						Babita arrived in 2008 as a quiet little girl with malnutrition and scabies
as well as continual ear infections. She had been transferred from three
different orphanages prior to coming to MNBG. Due to this we believe
that she didn't expect to be at Malai Nabirsue Bal Griha for very long.
In the first year she kept to herself and rarely initiated conversation. She
always seemed to be on alert waiting for something. She always came
across as very unsure of her future and very scared.
</br></br>In 2010 we noticed a really big change in Babita. It was like she 
finally
could trust in the stability and love of her home and her family. Since
then the change in Babita has been so positive. She is now an active 
relaxed healthy child. Her quiet nature is still there but she goes 
about her school work and family life with a confident assuredness. 
Babita communicates actively with her sisters and the Malai Nabirsue Bal Griha 
family with her bright smile and her charming ways.
					</p>

					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2006</h1>
					
					<p>
						Barme was physically in pain when she came to Malai Nabirsue Bal Griha! She was
suffering with an injury to her eye sustained through a fall from a high
place during her toddler years. This sad little girl was barley coping, 
she had malnutrition, scabies, lice and would spend the majority of her 
day huddled in acorner in pain. MNBG took her to have an eye operation 
which resulted in relieving the majority of the pressure in her eyes and
 gave her a chance to go to school and live a life without pain and 
discomfort.
</br></br>6months post operation for Barme was when we really started to
notice a difference. She transformed into a cheeky, vivacious girl full 
of
energy and passion for life. Although Barme has been through a lot in 
her young life this charming young lady is a joy to all of at Forget Me 
Not! Barme will eventually loose her sight completely. She is studying 
Braille and preparing for her future. Barme's flamboyant confidence is a
 true inspiration to all of us!
					</p>
				<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2006</h1>
					
					<p>
					Namrata arrived at MNBG with severe malnutrition, scabies, lice and
pre-existing scars emulating from an abusive and neglected childhood.
Because she was severely underweight at 15kg we could only estimate
her age to be around 8 years old. Our first year goal for Namrata was to
build up her health as well as her trust in her environment within
Malai Nabirsue Bal Griha. We could only wonder at how much trauma this
young girl had been through in her short life.
</br></br>In 2007 we started to notice a difference in Namrata. It started first 
with
a smile and then happy laughter and then into applying herself at 
school.
By mid 2007 she was a different little girl altogether to the one that
arrived in 2006. She was top of her class in every subject and embraced
her home with a loving trust. Between 2008 -2010 Namrata has come along 
in leaps and bounds and has opened up her little heart to all that 
surrounds her; her family, her school and a positive future.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2006</h1>
					
					
					<p>
						Ruma arrived at Malai Nabirsur Bal Griha as the oldest sister to
both Barme and Anita. She arrived with malnutrition, scabies and lice 
and due to her constant change in orphanages she was very reserved and 
mistrusting in her nature. Ruma was very mistrusting of human contact 
from an abusive past and also very protective over both her sisters.
</br></br>Over the 5 year period with MNBG Ruma has grown into a beautiful
young lady that has such an open nature and giving heart. In mid 2007
we first started to notice the changes in her ability to trust her
environment within MNBG. Once she was able to shed those 
self-protective layers she started to blossom. Now the only way to 
describe Ruma is a young lady that 'dances through life with a happy 
contented enthusiasm' Ruma is a wonderful big sister to all the girls.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2006</h1>
					
					<p>
						Rabina came to MNBG with a very sad history. She had been moved
from orphanage to orphanage and had been the victim of constant abuse.
Due to so many years of this type of treatment Rabina was very withdrawn
 and uncaring about what happened to her. In her first 6months at MNBG 
she would spend most of it with a blank expression on her face expecting
 the worse to happen.
</br></br>By 2009 Rabina started to trust again and we noticed that she was
more communicative towards the other girls and much more trusting
to her environment. Then came 2010 and the difference in Rabina
was remarkable.
She was free with her laughter and joy and really expressed herself
through her dancing ability. Rabina now trusts whole heartedly in her 
family and over her layers of pain and distrust she has built up layers 
of trust and family love.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2006</h1>
					
					<p>
						When Sita arrived at MNBG she was severely malnourished and had to
be hospitalized for 2months prior to able to welcomed into the home.
Sita also had been moved from orphanage to orphanage and had a very
distrusting nature when arriving at the children's home. It took a good 6
months after arriving for her to begin to interact with the other children.
</br></br>Over the years at MNBG Sita has openly filled her home with a
happy smile and a willing personality. She loves to be involved with
everything and you will often hear her happy laughter long before you
will see her. As with all the girls Sita has a deep connection with her family and
she brings much joy to her home and her sisters.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2007</h1>
					
					<p>
						Dikshya arrived at Malai Nabirsue Bal Griha's as a very street smart
girl. She had learnt through years of growing up on the street how to
survive day to day and expect nothing more. She came to MNBG with a
very tough exterior; a young girl that had to grow up and deal with many
things in her young life. Dikshya arrived at MNBG at 12 years old and
found it very hard initially to settle into a loving and safe environment as
it was something that she had never experienced before.
</br></br>In 2008 Dikshya began to let down her 'day to day' survival barriers and
became a girl that once again had dreams and opportunities. Over the
next two years she really opened up and began to work harder at school
and help her younger sisters with their homework.
Once Dikshya discovered that she could trust in her situation everything
became much more positive for her and now in her spare time you will
find her relaxing to music or delving in her wonderfully artistic talent
of painting.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2007</h1>
					
					<p>
						Sarita became a part of the Malai Nabirsue Bal Griha Family in mid 2007 along
with her older sister Goma. They both grown up the majority of their lives
in orphanages so understandably they relied and trusted only each other.
For the first 6months Sarita was very wary of anything that was 'good'.
It was like she expected something bad to happen to her as it had in the
past. By 6months though she started to trust in Malai Nabirsue Bal Griha and once
she did she became a cuddly teddy bear who would always be happy
sitting and cuddling you while you read a book to her.
</br></br>Although Sarita still has a naturally quiet personality she is quite a
different little lady to the one that arrived in June 2007.
The Sarita today emanates love and warmth and enjoys soaking up a
loving family life. After completing her homework in the afternoons you
are most likely to find her playing with her toys or dancing with her
sisters.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2006</h1>
				
					<p>
						Little Sunita arrived at Malai Nabirsue Bal Griha like the majority of the girls,
afflicted by malnutrition with a past history of abuse from previous
orphanages. Sunita very rarely spoke to anyone in her first 6months,
showed very little interest in school and was very deeply withdrawn. She
would sit for long periods of time staring out at nothing. We hoped like
 most of the other girls that time, and a loving environment, would help
 her heal.
</br></br>You couldn't even compare the Sunita of 2006 to the Sunita of 2010.
She is a girl that is now openly confident, smiles readily, and once you
get her talking you will find it very hard to get her to stop.
She has indeed put all her trust and love in her Malai Nabirsue Bal Griha family
and with that support she has been improving from year to year with
her schooling. Like most of the girls Sunita has a great passion for
dancing.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2007</h1>
				
					<p>
						Goma arrived at Malai Nabirsue Bal Griha at the end of 2007 along with her younger
sister Sarita. When Goma arrived it was like she had the weight of the
world placed on her young shoulders. Both her and her sister were moved
from orphanage to orphanage and trusted only each other. For the first
6months Goma and Sarita would sit alone most of the time and had very
little interaction with the other girls. She cared immensely about her 
younger sister and we knew that if we could help her understand that she
 could trust in her Malai Nabirsue Bal Griha family, her little personality would 
flourish.
</br></br>Gradually Goma began to open up, and once those defensive layers were
peeled back a beautiful caring and compassionate girl emerged. The Goma
today helps all the younger girls with their homework and has the upmost
patience for everything. She loves to help out the Mumu's in the kitchen
 with the cooking and when it comes to her own study she applies herself
 with willingness and determination.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2007</h1>
				
					<p>
						Kabita arrived at Malai Nabirsue Bal Griha with severe nutrition weighing just 20kg
at 10 years of age. During her first few months we noticed that Kabita 
was very reserved and lacked self-esteem and self-confidence. We were 
lucky that a lot of the girls had already been there for up to two years
 so a few of them took Kabita under their wings and gave her 
encouragement in everything that she participated in.
</br></br>By 2009 Kabita seemingly did an about turn. She went from a very quiet
girl lacking in confidence to a bubbly girl that oozed confidence and 
character. Once she understood that she was within four walls of love 
and support her natural personality came to the surface. The Kabita of 
2010 was a girl that would talk to you all day at a million miles an 
hour. A girl who has an answer for everything and an abundance of energy
 that never seems to run out.
					</p>
				<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2007</h1>
				
					<p>
						Basundhara arrived at MNBG along with her younger sister Gyanu. Both
were in a similar situation to Goma and Sarita and had been transferred
from orphanage to orphanage. Basundhara was malnourished when she
arrived at Malai Nabirsue Bal Griha and was very quiet in her personality.
As with the other girls it took Basundhara quite a few months to realize
that her and her sister were in a safe and loving place and that they could
be happy.
</br></br>Over the years Basundhara has developed a thirst for learning an education
and over the past 2 years she has been swapping number 1 and
number 2 position in her class with Namrata, no small feat for a girl
that had virtually non-existent education prior to coming to Malai Nabirsue Bal Griha. Basundhara is a friend to all the girls and has a very kind heart. She has
some wonderful artistic abilities and loves to share her gorgeous smile
with the world.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2007</h1>
				
					<p>
						Devaki arrived late 2007. She was a girl that we believe came from a
history of abuse which resulted in very low confidence and self esteem.
Devaki for the first year especially would continually be in very dark
moods and was very hard on herself. Out of all the girls Devaki had the 
longest adjusting process and still finds it hard to believe and trust 
in her situation.
</br></br>Over the past 6months we have noticed the most change in Devaki. She
is openly more conversational and much more relaxed in her person
from a girl that you rarely saw smile we now see a girl who laughs and
smiles much more freely. In some areas she still lacks confidence but 
with the continual support from her sisters and her sponsor family it is
 our hope that Devaki inner
strength will develop and emerge as the year's progress.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2007</h1>
				
					<p>
						Little Gyanu arrived at Malai Nabirsue Bal Griha with her older sister Basundhara.
She had malnutrition and scabies and was very small for a 5 year old.
Gyanu was so quiet that you barely heard her but right from the beginning
you could tell that she loved the comfort of a loving home. During her first
few months Gyanu and her older sister Basundhara were inseparable.
</br></br>The Gyanu of today is a quietly content little girl full of love. She loves
a cuddle and loves to quietly share her love and gentle nature with her
sisters and Australian visitors.
Gyanu is a girl that loves to wear hairclips and play with her dolls. We
look forward in nurturing this little girl into a wonderful young lady.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2008</h1>
				
					<p>
						At 3 years old Junu was the youngest of all of our girls when she arrived
at Malai Nabirsue Bal Griha. She was malnourished, had worms,
lice and a severe chest infection. When she arrived she really took to the
Forget Me Not House mother Janu who nursed her back to health.
For the first year Junu always seemed to have a troubled look on her face
and rarely smiled. She was very lucky that she had 20 older sisters and 5
surrogate mothers to dote on her and encourage her happiness.
</br></br>By mid 2009 Junu had declared herself 'Big Boss' loving every minute of
attention that her older sisters gave her. With all of her sisters enjoying
dance it wasn't long before the 'Big Boss' commanded almost as much
dance skill and much more attention than her sisters.
You would most likely find Junu playing with her Barbie dolls, practicing a
dance or having her hair brushed by one of her sisters. Junu is a gorgeous
little girl that is very much loved by all the Malai Nabirsue Bal Griha Family.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2008</h1>
				
					<p>
						Rashila came to call Malai Nabirsue Bal Griha her home after being found by policemen
living at local temple for a period of months. She was malnourished
and had some minor infections. Even when Rashila arrived she has always
had a cheeky mischievous glint in her eyes.
Even from the beginning she always made the most out of any situation
and from early on she took great pride and understanding in being in an
environment of love and happiness.
</br></br>As was her nature when she arrived, Rashila loves to get up to a little
bit of mischief, playing tricks on her sisters with good natured intent.
You are most likely to hear Rashila's laughter long before you see her
and she is a girl that loves being involved in everything and doesn't like
to miss out of having fun.
					</p>
				<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2008</h1>
				
					<p>
						Sangeeta was found at a young age living on the streets and then spent a
number of years of her childhood in a variety of orphanages before 
coming
to Malai Nabirsue Bal Griha. When Sangeeta arrived she was shy and 
it took a number of months for her personality to begin to develop.
</br></br>Over the past 3 years we have watched Sangeeta grow into a girl that
has a quiet reserve but once given an opportunity loves to work hard at
everything she does. She loves her school, her sisters and her mothers.
Within her quiet exterior lies a very smart and strong minded little
person.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2008</h1>
				
					<p>
						Sneha's journey to Malai Nabirsue Bal Griha is a little different 
to
the other girls. Sneha has a mother, Janu, who is the main house mother
for all the children at Malai Nabirsue Bal Griha. Janu's history was as a single 
mother
whose husband had died years earlier in a working accident.
Janu was struggling to send her only daughter Sneha to school as well as
take care of them both. Coming to Malai Nabirsue Bal Griha Sneha became a wonderful
 older sister to all the girls and Janu a wonderful surrogate mother.
</br></br>Over the last four years Sneha has applied herself to her studies 
finishing
high school in the top 5% of her class. Her dream was to eventually
become a doctor so upon finishing her high school education and with
the help of Malai Nabirsue Bal Griha she applied and was accepted into a Nursing
College in Kathmandu. In October 2010 she finished her first year of 
Nursing College with her results consistently in the top 5 of her class.
 Sneha is a beautiful girl who sets such a good example for all those 
around her.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>Arrival Date Jan 2006</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				
			</div>
			<div id="cn_list" class="cn_list">
				<div class="cn_page" style="display:block;">
					<div class="cn_item selected">
							
						<h2>ALISHA <span class="click">click me</span> </h2>
						
					
						<p>Alisha came to Malai Nabirsue Bal Griha as a 5 years old with 
severe malnutrition and with weight and size equivalent of a 2 year old.
 Alisha was withdrawn, sad, lonely and uncommunicative. We believe that 
</p>
					</div>
					<div class="cn_item">
						<h2>ANITA <span class="click">click me</span></h2>
						<p>Anita arrived at Malai Nabirsue Bal Griha at the same time as Alisa.
She was 5 yearsold and had scabies and malnutrition. When she arrived 
Anita was a moody little girl that would cry out for attention. 
</p>
					</div>
					<div class="cn_item">
						<h2>BABITA <span class="click">click me</span></h2>
						<p>Babita arrived in 2008 as a quiet little girl with malnutrition and scabies
as well as continual ear infections. She had been transferred from three
different orphanages prior to coming to MNBG. Due to this we believe
</p>
					</div>
					<div class="cn_item">
						<h2>BARME <span class="click">click me</span></h2>
						<p>Barme was physically in pain when she came to Malai Nabirsue Bal Griha! She was
suffering with an injury to her eye sustained through a fall from a high
place during her toddler years. This sad little girl was barley coping, 
</p>
					</div>
				</div>
				<div class="cn_page">
					<div class="cn_item">
						<h2>NAMRATA <span class="click">click me</span></h2>
						<p>Namrata arrived at MNBG with severe malnutrition, scabies, lice and
pre-existing scars emulating from an abusive and neglected childhood.
Because she was severely underweight at 15kg we could only estimate
</p>
					</div>
					<div class="cn_item">
						<h2>RUMA <span class="click">click me</span></h2>
						<p>Ruma arrived at Malai Nabirsue Bal Griha as the oldest sister to
both Barme and Anita. She arrived with malnutrition, scabies and lice 
and due to her constant change in orphanages she was very reserved and 
</p>
					</div>
					<div class="cn_item">
						<h2>RABINA <span class="click">click me</span></h2>
						<p>Rabina came to Malai Nabirsue Bal Griha with a very sad history. She had been moved
from orphanage to orphanage and had been the victim of constant abuse.
Due to so many years of this type
</p>
					</div>
					<div class="cn_item">
						<h2>SITA <span class="click">click me</span></h2>
						<p>When Sita arrived at MNBG she was severely malnourished and had to
be hospitalized for 2months prior to able to welcomed into the home.
Sita also had been moved from orphanage to orphanage and had a very
</p>
					</div>
				</div>
				<div class="cn_page">
					<div class="cn_item">
						<h2>DIKSYHA <span class="click">click me</span></h2>
						<p>Dikshya arrived at Malai Nabirsue Bal Griha as a very street smart
girl. She had learnt through years of growing up on the street how to
survive day to day and expect nothing more. </p>
					</div>
					<div class="cn_item">
						<h2>SARITA <span class="click">click me</span></h2>
						<p>Sarita became a part of the Malai Nabirsue Bal Griha Family in mid 2007 along
with her older sister Goma. They both grown up the majority of their lives
in orphanages so understandably they relied and trusted only .
</p>
					</div>
					<div class="cn_item">
						<h2>SUNITA <span class="click">click me</span></h2>
						<p>Little Sunita arrived at Malai Nabirsue Bal Griha like the majority of the girls,
afflicted by malnutrition with a past history of abuse from previous
orphanages. </p>
					</div>
					<div class="cn_item">
						<h2>GOMA <span class="click">click me</span></h2>
						<p>Goma arrived at Malai Nabirsue Bal Griha at the end of 2007 along with her younger
sister Sarita. When Goma arrived it was like she had the weight of the


</p>
					</div>
					</div>
					<div class="cn_page">
					<div class="cn_item">
						<h2>KABITA <span class="click">click me</span></h2>
						<p>Kabita arrived at Malai Nabirsue Bal Griha with severe nutrition weighing just 20kg
at 10 years of age. During her first few months we noticed that Kabita 
was very reserved and lacked self-esteem and self-confidence. 
</p>
					</div>
					<div class="cn_item">
						<h2>BASUNDHARA <span class="click">click me</span></h2>
						<p>Basundhara arrived at MNBG along with her younger sister Gyanu. Both
were in a similar situation to Goma and Sarita and had been transferred
from orphanage to orphanage. Basundhara was malnourished when she
</p>
					</div>
					<div class="cn_item">
						<h2>DEVAKI <span class="click">click me</span></h2>
						<p>Devaki arrived late 2007. She was a girl that we believe came from a
history of abuse which resulted in very low confidence and self esteem.
Devaki for the first year especially would continually be in very dark
</p>
					</div>
					<div class="cn_item">
						<h2>GYANU <span class="click">click me</span></h2>
						<p>Little Gyanu arrived at Malai Nabirsue Bal Griha with her older sister Basundhara.
She had malnutrition and scabies and was very small for a 5 year old.
Gyanu was so quiet that you barely heard her but right from</p>
					</div>
					</div>
					<div class="cn_page">
					<div class="cn_item">
						<h2>JUNU <span class="click">click me</span></h2>
						<p>At 3 years old Junu was the youngest of all of our girls when she arrived
at Malai Nabirsue Bal Griha. She was malnourished, had worms,
lice and a severe chest infection. When she arrived she really took to the
</p>
					</div>
					<div class="cn_item">
						<h2>RASHILA <span class="click">click me</span></h2>
						<p>Rashila came to call Malai Nabirsue Bal Griha her home after being found by policemen
living at local temple for a period of months. She was malnourished
and had some minor infections.
</p>
					</div>
					<div class="cn_item">
						<h2>SANGEETA <span class="click">click me</span></h2>
						<p>Sangeeta was found at a young age living on the streets and then spent a
number of years of her childhood in a variety of orphanages before 
</p>
					</div>
					<div class="cn_item">
						<h2>SNEHA <span class="click">click me</span></h2>
						<p>Sneha's journey to Malai Nabirsue Bal Griha is a little different 
to
the other girls. Sneha has a mother, Janu, who is the main house mother
for all the children at Malai Nabirsue Bal Griha. Janu's history was as a single 
</p>
					</div>
					</div>
					<div class="cn_page">
					
					
				</div>
				<div class="cn_nav">
					<a id="cn_prev" class="cn_prev" style="float:left;"><%= image_tag "previous_Btn.png",:class=>"next1_image" %></a>
					<a id="cn_next" class="cn_next" style="float:right;"><%= image_tag "next_Btn.png",:class=>"prev1_image" %></a>
					
				</div>
			</div>
		
		</div>
		<%= image_tag "line.png",:class=>"line1_image" %>
</div>

</div>


<%= render 'lowercontent'%>
<%= render 'footer'%>
