<div id="wrapper">
<%= render 'navigation'%>
	
				
			
		<div class="cn_wrapper">
			
			<div id="cn_preview" class="cn_preview">
				<div class="cn_content" style="top:0px;">
					<div id="children_top_border">
					</div>
					<div id="bold_image">
							<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					</div>
					<div id="bold_content">
							<h1>Arival Date Jan 2012</h1>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
					</div>
					<a href="http://tympanus.net/codrops/2010/09/28/polaroid-photobar-gallery/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/fullpageimagegallery.jpg" alt=""/>
					<h1>ANITA</h1>
					
					<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
						</p>
					<a href="http://tympanus.net/codrops/2010/09/08/full-page-image-gallery/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/collapsingsitenavigation.jpg" alt=""/>
					<h1>BIJAYATA</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="http://tympanus.net/codrops/2010/09/06/collapsing-site-navigation/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/thumbnailsnavigation.jpg" alt=""/>
					<h1>Thumbnails Navigation Gallery with jQuery</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="http://tympanus.net/codrops/2010/07/29/thumbnails-navigation-gallery/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/musicportfoliotemplate.jpg" alt=""/>
					<h1>Music Portfolio Template</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="http://tympanus.net/codrops/2010/07/26/music-portfolio-template/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/relatedpostsslideouts.jpg" alt=""/>
					<h1>Related Posts Slide Out Boxes</h1>
					
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="http://tympanus.net/codrops/2010/07/21/related-posts-slide-out-boxes/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/LatestTweetsTooltip.jpg" alt=""/>
					<h1>Latest Tweets Tooltip with jQuery</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="http://tympanus.net/codrops/2010/07/20/latest-tweets-tooltip/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/slidedownbox.jpg" alt=""/>
					<h1>Slide Down Box Menu with jQuery and CSS3</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="http://tympanus.net/codrops/2010/07/16/slide-down-box-menu/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/MinimalisticSlideshowGallery.jpg" alt=""/>
					<h1>Minimalistic Slideshow Gallery with jQuery</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="http://tympanus.net/codrops/2010/07/05/minimalistic-slideshow-gallery/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/imagehighlight.jpg" alt=""/>
					<h1>Image Highlighting and Preview with jQuery</h1>
					
					<p>
						In this tutorial we will show you how to highlight
						and preview images that are integrated in an
						article or spread over a page.
					</p>
					<a href="http://tympanus.net/codrops/2010/07/04/image-highlighting-preview/" target="_blank" class="cn_more">Read more</a>
				</div>
				<div class="cn_content">
					<img src="images/photodesk.jpg" alt=""/>
					<h1>Interactive Photo Desk</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="http://tympanus.net/codrops/2010/07/01/interactive-photo-desk/" target="_blank" class="cn_more">Read more</a>
				</div>
			</div>
			<div id="cn_list" class="cn_list">
				<div class="cn_page" style="display:block;">
					<div class="cn_item selected">
						<h2>ALISHA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>ANITA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>BIJAYATA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>CIRENA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
				</div>
				<div class="cn_page">
					<div class="cn_item">
						<h2>Music Portfolio Template</h2>
						<p>A template for a music portfolio website with an HTML5 audio player</p>
					</div>
					<div class="cn_item">
						<h2>Related Posts Slide Out Boxes</h2>
						<p>Show users more of your articles with these slide out boxes</p>
					</div>
					<div class="cn_item">
						<h2>Latest Tweets Tooltip with jQuery</h2>
						<p>A Plugin for showing the latest tweets with a certain word in your article</p>
					</div>
					<div class="cn_item">
						<h2>Slide Down Box Menu with jQuery and CSS3</h2>
						<p>A menu with a nice effect</p>
					</div>
				</div>
				<div class="cn_page">
					<div class="cn_item">
						<h2>Minimalistic Slideshow Gallery</h2>
						<p>A compact image gallery for your website</p>
					</div>
					<div class="cn_item">
						<h2>Image Highlighting and Preview</h2>
						<p>Highlight and preview images that are integrated in an article</p>
					</div>
					<div class="cn_item">
						<h2>Interactive Photo Desk</h2>
						<p>Creating a photo desk with some real world interaction</p>
					</div>
				</div>
				<div class="cn_nav">
					<a id="cn_prev" class="cn_prev disabled"></a>
					<a id="cn_next" class="cn_next" style="float:right;"></a>
				</div>
			</div>
		</div>
</div>
</div>
<%= render 'image_slider'%>
<%= render 'lowercontent'%>
<%= render 'footer'%>
