<div id="wrapper">
<%= render 'navigation'%>
		<div id="child">
				<div id="children_content">
							
						<ul>
								<h1>ALISHA</h1>
								<li>
										<p>Alisha came to Malai Nabiseu Bal Griha as a 5 years old severe malnutrition and with weight and with weight and size equivalent of a 2 years old. Alisha was withdrawn, sad, lonely and cucommunicate.
									</p>
								</li>
							</ul>
							
							<ul>
									<h1>ANITA</h1>
								<li>
								
										<p>Alisha came to Malai Nabiseu Bal Griha as a 5 years old severe malnutrition and with weight and with weight and size equivalent of a 2 years old. Alisha was withdrawn, sad, lonely and cucommunicate.
									</p>
								</li>
							</ul>
									
							<ul>
									<h1>BIJAYANTA</h1>
								<li>
							
										<p>Alisha came to Malai Nabiseu Bal Griha as a 5 years old severe malnutrition and with weight and with weight and size equivalent of a 2 years old. Alisha was withdrawn, sad, lonely and cucommunicate.
									</p>
								</li>
							</ul>
							
							<ul>
								<h1>CIRENA</h1>
								<li>
										<p>Alisha came to Malai Nabiseu Bal Griha as a 5 years old severe malnutrition and with weight and with weight and size equivalent of a 2 years old. Alisha was withdrawn, sad, lonely and cucommunicate.
									</p>
								</li>
							</ul>
						<%= image_tag "leftbutton.png",:class=>"leftbutton" %>
						<%= image_tag "rightbutton.png",:class=>"rightbutton" %>
				</div>	<!---- end of children_content---->
			<div id="children_image">
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
						<div id="image_text">
						<h1>Arrival Date Jan 2006</h1>
							<p>Alisha came to Forget Me Not Children's home as a 5 years old with severe malnutrition and with weight and size equivalent of a 2 year old. Alisha was withdrawn, sad, lonely and uncommunicate. We believe that Alisha came from an abusive childhood and for the first 3 months would spend much of her time crying and in a very dark place. Initially she only responsed ti ling quiet time spent in someone's lap. Her attempts at drawing were in black pencil in angry clouded swirls.
							</p>

					<%= image_tag "readmore.png",:class=>"read_more" %>

			</div>		<!---- end of children_image---->
					
		
		</div>		<!---- end of children---->
</div>		<!---- end of wrapper---->
</div>
<%= render 'image_slider'%>
<%= render 'lowercontent'%>
<%= render 'footer'%>
