<div id="wrapper">
<%= render 'navigation'%>



		<div class="cn_wrapper">

			<div id="cn_preview" class="cn_preview">
				<div class="cn_content" style="top:0px;">
					<div class="children_top_border">
					</div>
					<div id="bold_image">
							<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					</div>
					<div id="bold_content">
							<h1>Arival Date Jan 2012</h1>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
					</div>

					<a href="#" target="_blank" class="cn_more"></a>

				</div>
				<div class="cn_content">
				<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>ANITA</h1>

					<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
						</p>

					<a href="#" target="_blank" class="cn_more"></a>
			</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>BIJAYATA</h1>

					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>

					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>CIRENA</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
				<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>MINA</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>GEETA</h1>
					
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>SITA</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>RITA</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>ALKA</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>MANISHA</h1>
					
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>RABITA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>SAGUN</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>SAMJHANA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
				<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>SABINA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>SANGITA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>LALITA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>RAMITA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>BABITA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
				<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>MANJU</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>MINA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>LINA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>

					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				<div class="cn_content">
					<div class="children_top_border">
					</div>
					<%= image_tag "alisha.jpg",:class=>"alisha_image" %>
					<h1>AREENA</h1>
				
					<p>
						Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.
					</p>
					<a href="#" target="_blank" class="cn_more"></a>
				</div>
				
			</div>
			<div id="cn_list" class="cn_list">
				<div class="cn_page" style="display:block;">
					<div class="cn_item selected">
						<h2>ALISHA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>ANITA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>BIJAYATA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>CIRENA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
				</div>
				<div class="cn_page">
					<div class="cn_item">
						<h2>MINA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>GEETA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>SITA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>RITA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
				</div>
				<div class="cn_page">
					<div class="cn_item">
						<h2>ALKA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>MANISHA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>RABITA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>SAGUN</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					</div>
					<div class="cn_page">
					<div class="cn_item">
						<h2>SAMJHANA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>SABINA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>SANGITA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>LALITA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					</div>
					<div class="cn_page">
					<div class="cn_item">
						<h2>RAMITA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>BABITA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>MANJU</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>MINA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					</div>
					<div class="cn_page">
					<div class="cn_item">
						<h2>LINA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
					<div class="cn_item">
						<h2>AREENA</h2>
						<p>Alisha came to Malai Nabirseu Bal Griha as a 5 years old with severe mainutrition with weight and size equivalent of a 2 year old. Alisha was withdrawn , sad, lonely and uncommunicative.</p>
					</div>
				</div>
				<div class="cn_nav">
					<a id="cn_prev" class="cn_prev" style="float:left;"><%= image_tag "prev.png",:class=>"next1_image" %></a>
					<a id="cn_next" class="cn_next" style="float:right;"><%= image_tag "next.png",:class=>"prev1_image" %></a>
					
				</div>
			</div>
		
		</div>
		<%= image_tag "line.png",:class=>"line_image" %>
</div>

</div>

<%= render 'image_slider'%>
<%= render 'lowercontent'%>
<%= render 'footer'%>
