<div id="wrapper">
 <%= render 'navigation'%>

	<div class="main_donate_Block">

					<div class="donate_header">
							<h1>Make a Donation</h1>

					</div>
					<div class="donate_block" >
							<div id="main_title">


							</div>
									<div class="donate_content">
										<div class="block_donation">
											<div class="block_content">

														<div class="block_title">
																<h1>general donation</h1>
														</div>
														<div class="block_text">
														<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
														</div>
												<div class="title_button1">
														     <!--pop up rendered from donatepopup partial-->
            <a href="#" class="donate_button" id="button"></a>
               <%= render 'donatepopup'%>
          <!--pop up rendered from donatepopup partial-->
														<div class="button_text">
																<p>( <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</span>)</p>
														</div>
												</div>
										</div>
														<div class="donate_image">
														</div>
												</div>
											<div class="block_donation">
										<div class="block_content">
														<div class="block_title">
																<h1>eduacation donation</h1>
														</div>
														<div class="block_text">
														<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
														</div>
														<div class="title_button2">
														 <!--pop up rendered from donatepopup partial-->
            <a href="#" class="donate_button" id="button"></a>
               <%= render 'donatepopup'%>
          <!--pop up rendered from donatepopup partial-->
														<div class="button_text">
																<p>( <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</span>)</p>
														</div>
												</div>
										</div>
														<div class="donate_image">
														</div>
													</div>
											<div class="block_donation">
											<div class="block_content">
														<div class="block_title">
																<h1>medical donation</h1>
														</div>
														<div class="block_text">
														<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
														</div>
														<div class="title_button">
														 <!--pop up rendered from donatepopup partial-->
            <a href="#" class="donate_button" id="button3"></a>
               <%= render 'donatepopup'%>
          <!--pop up rendered from donatepopup partial-->
														<div class="button_text">
																<p>( <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</span>)</p>
														</div>
												</div>
										</div>
														<div class="donate_image">
														</div>
												</div>



			</div>
										<div class="block_donation" style="border:none;">
										<div class="block_content">
														<div class="block_title">
																<h1>sponsor a child</h1>
														</div>
														<div class="block_text">
														<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
														</div>
													<div class="title_sponsor">


      <!--pop up rendered from donatepopup partial-->
            <a href="#" class="sponsor_button" id="button4"></a>
               <%= render 'donatepopup'%>
          <!--pop up rendered from donatepopup partial-->
														<div class="sponsor_text">
															<p>( <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</span>)</p>
														</div>
												</div>
										</div>
														<div class="donate_image">
														</div>
											</div>
									</div>

					</div>
</div>
			</div>
</div>
<%= render 'image_slider'%>
 <%= render 'lowercontent'%>
<%= render 'footer'%>
