<div id="wrapper">
 <%= render 'navigation'%>
		<div class="boardmember_title">
				<p style="background-color:#FCC956;">News & Events</p>
		</div>
	<div class="news_events_border" style="margin:0 0 30px 0;">
				<div class="news_events_content">
					<h1> translation by H. Rackham</h1>

					<div class="news_events_image">

					<%= image_tag "Anita.png",:class=>"news_events_name" %>

					</div>		<!--end of board_image---->
					
					<div class="news_events_text">
								
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
</div>
</div>
<div class="news_events_content">
					<h1> translation by H. Rackham</h1>

					<div class="news_events_image">

					<%= image_tag "Babita.png",:class=>"news_events_name" %>

					</div>		<!--end of board_image---->
					
					<div class="news_events_text">
								
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
</div>
</div>
<div class="news_events_content">
					<h1> translation by H. Rackham</h1>

					<div class="news_events_image">

					<%= image_tag "Barme.png",:class=>"news_events_name" %>

					</div>		<!--end of board_image---->
					
					<div class="news_events_text">
								
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
</div>
</div>
</div>
</div>
<%= render 'image_slider'%>
<%= render 'lowercontent'%>
<%= render 'footer'%>
