<div id="wrapper">
		<%= render 'navigation'%>
			<div id="main_getinvolved">
					
							
								<div id="getinvolved_image">
										 <%= image_tag "news1.png",:class=>"news1_image" %>
										 <%= image_tag "volunteer1.png",:class=>"news1_image" %>
										 <%= image_tag "compaign1.jpg",:class=>"news1_image" %>
										 <%= image_tag "fundraise1.png",:class=>"news1_image" %>
										 <%= image_tag "Donate1.png",:class=>"news1_image" %>	
								</div>
								<div id="getinvolved_text">
										<h1>GET INVOLVED</h1>
											<p>Your support means we can help the UK's most vulnerable and neglected children and young people
											</p>
								</div>
							
						
			</div>
</div>


<div id="getinvolved_bottom_border">
</div>
<%= render 'footer'%>
