<div id="wrapper">
		<%= render 'navigation'%>
			<div id="main_getinvolved">
         

  <!--text slider-->
       <div id="slider_get">
          <ul class="navigation">
              <li><a href="#files" class="getinvolved_volunteer"></a></li>
              <li><a href="#editor" class="getinvolved_campaign"></a></li>
              <li><a href="#preview" class="getinvolved_fundraise"></a></li>
              <li><a href="#css" class="getinvolved_donate"></a></li>
							
            </ul>
<!-- element with overflow applied -->
            <div class="scroll">
             <!-- the element that will be scrolled during the effect -->
            <div class="scrollContainer">
    <!-- our individual panels -->
            <div class="panel" id="files">
                                  <h1 class="volunteerh1">volunteer</h1> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> </div>
                                  <div class="panel" id="editor"> <h1 class="campaignh1">campaign</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</P> </div>
                                  <div class="panel" id="preview">  <h1 class="fundraiseh1">fundraise</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> </div>
                                  <div class="panel" id="css"> <h1 class="donateh1">donate</h1> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p></div>
</div>
                                </div>

                              </div>

<div id='content'>
            <a href="#" class="getinvolved_newsletter" id="button"></a>
</div>
<%= render 'newsletter'%>

			</div>
<%= image_tag "line.png",:class=>"line2_image" %>

</div>

</div>


 <%= render 'lowercontent'%>
<div id="getinvolved_bottom_border">
</div>
<%= render 'footer'%>
