		<div id="main_wrapper">
         <div id="banner">
					
            <div id="wrapper">
               <div id="main_nav">
									<%= image_tag "donate.png",:class=>"donate_img"%>
                     <div id="nav">
												<ul>
                     				<li><%= link_to "Home",pages_home_path  %></li>
										 				<li><%= link_to "about us",pages_about_us_path  %></li>
										 				<li><%= link_to "get involved",pages_get_involved_path %></li>
										 				<li><%= link_to "events",pages_events_path  %></li>
										 				<li><%= link_to "chidren",pages_children_path  %></li>
								      	</ul>
							      	</div>	<!--end of nav-->		
                            <%= image_tag "logo_title.png",:class=>"title_img"%>
										
             	 </div><!--end of main_nav-->
									<div id="title">
											<%= image_tag "title.png",:id=>"mnbg" %>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
															 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
									</div>   <!--end of title-->
              
				</div>       <!--end of wrapper-->
			</div>    <!--end of banner-->
        <div id="main_content">
			    	<div id="content">
											<div class="sub_content">
															<div class="color_red">
															</div>
																		<%= image_tag "who.png",:class=>"content_title" %>
																	<%= image_tag "children-alisha.jpg",:class=>"content_image" %>
											<div class="content_text">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
															 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
	
              				</div>	<!--end of content_text-->
			 								</div>	 <!--end of sub_content-->
 						</div>	 <!--end of content-->	
						<div id="content">
											<div class="sub_content">
													<div class="color_blue">
													</div>
														<%= image_tag "what.png",:class=>"content_title" %>
																				<%= image_tag "children-alisha.jpg",:class=>"content_image" %>
											<div class="content_text">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
															 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
	
              				</div>		<!--end of content_text-->	
 											</div>	 <!--end of sub_content-->
 					</div>	<!--end of content-->		
					<div id="content">
										<div class="sub_content">
													<div class="color_yellow">
													</div>
														<%= image_tag "how.png",:class=>"content_title" %>
                           <%= image_tag "children-alisha.jpg",:class=>"content_image" %>
																	
										<div class="content_text">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
															 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
	
             			 </div>	<!--end of content_text-->	
 									 </div>	<!--end of content_text-->	
 					</div>	<!--end of content-->	
    </div>		<!--end of main_content-->	
					<div id="image_slider">
            <div id="children">
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
    </div>           
					</div>
		</div>     <!--end of main_wrapper-->		
