<div id="main_wrapper">
      <%= render 'navigation'%>
      <%= render 'banner'%>
	 	  <%= render 'uppercontent'%>
			<%= render 'image_slider'%>
		  <%= render 'lowercontent'%>
 			<%= render 'footer'%>
 </div>
