<div id="wrapper">
 <%= render 'navigation'%>
			<div class="boardmember_title">
				<p style="background-color:#40B4E3;">What We Do</p>
			</div>
		<div class="what_we_do_content" style="padding:20px; ">
				<div class="what_we_profile">

					<div class="what_we_image">

					<%= image_tag "bird.jpg",:class=>"what_we_name"  %>

					</div>		<!--end of board_image---->
					
					<div class="what_we_text">
					<h1>Orphan Home Projects</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
				</div>
			</div>
			<div class="what_we_profile">

					<div class="what_we_image">

					<%= image_tag "alisha.jpg",:class=>"what_we_name" %>

					</div>		<!--end of board_image---->

					<div class="what_we_text">
					<h1 style="color:#FCC956;">Education and Health</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
				</div>
			</div>
			<div class="what_we_profile">
					<div class="what_we_image">

					<%= image_tag "alisha.jpg",:class=>"what_we_name" %>

					</div>		<!--end of board_image---->

					<div class="what_we_text">
							<h1 style="color:#40B4E3;">Our Partner</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
				</div>
			</div>

		</div>
		<div class="line_image_border">
		</div>		

</div>
 <%= render 'lowercontent'%>
<%= render 'footer'%>
					
