<div id="wrapper">
 <%= render 'navigation'%>
			<div class="boardmember_title">
				<p style="background-color:#40B4E3;">What We Do</p>
			</div>
		<div class="what_we_do_content" style="padding:20px; ">
		<% @whatwedo.each do |t|%>
		<div id="whatwedo">
			<div class ="whatwedocontainer">
				<div>
					<%= image_tag "#{t.image}",:width=>"300",:class=>"whatwedoimage"%>
					</div>
						<div class="what_we_do_text">
							<h1 class="whatwedotitle"><%=t.title%></h1>
							<p class="whatwedodesc"><%=t.desc%></p>
						</div>
					</div>
				</div>
			<%end%>
		</div>
		<div class="line_image_border1">
		</div>
</div>
 <%= render 'lowercontent'%>
<%= render 'footer'%>
