<div id="banner">
					
            <div id="wrapper">
               <div id="main_nav">
									<%= image_tag "donate.png",:class=>"donate_img"%>
                     <div id="nav">
												<ul>
                     				<li><%= link_to "Home",pages_index_path  %></li>
										 				<li><%= link_to "about us",pages_about_us_path  %></li>
										 				<li><%= link_to "get involved",pages_get_involved_path %></li>
										 				<li><%= link_to "events",pages_events_path  %></li>
										 				<li><%= link_to "chidren",pages_children_path  %></li>
								      	</ul>
							      	</div>	<!--end of nav-->		
                            <%= image_tag "malai_logo.png",:class=>"title_img"%>
										
             	 </div><!--end of main_nav-->
									<div id="title">
											<%= image_tag "malainabirseubalgriha_1.png",:id=>"mnbg" %>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
															 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
									</div>   <!--end of title-->
              
				</div>       <!--end of wrapper-->
			</div>    <!--end of banner-->
