<!--popup content-->
	      <div id="popupContainer" class="hidden">
	        	<a id="close" class="hidden" title="close popup"></a>

		        <h1 class="newsletter_signup">Donation</h1>
			<div id="newsletter_text">
				<p>To give donation to this wonderful cause please fill the form below and we will contact you. Thank You </p>
			</div>
						<div class="form_block">
								<%= form_tag  ({:controller=>"donates", :action=>"create"}) do%>
							<div class="form_holder">
									<%= label_tag (:Name)%>
									<%= text_field_tag'name', nil,:class=>"form_input" %></br>
							</div>
							<div class="form_holder">
									<%= label_tag (:Email)%>
									<%= text_field_tag 'email',nil,:class=>"form_input"%></br>
							</div>
							<div class="form_holder">
									<%= label_tag (:Comment)%>
									<%= text_area_tag'comment',nil,:class=>"form_input"%></br></br>
							</div>
							<div class="form_holder">
									<%= submit_tag '',:class=>"submit_Btn"%>
							</div>
								<%end%>
				</div>


	  </div>
	       <div id="overlayEffect">
         </div>
  <!--end popup content-->
