<!--popup content-->
	      <div id="popupContainer" class="hidden">
	        	<a id="close" class="hidden" title="close popup"></a>
		         <h1 class="newsletter_signup">Donation</h1>
			<div id="newsletter_text">
				<p>To give donation to this wonderful cause please fill the form below and we will contact you. Thank You </p>
			</div>
						<div class="form_block">
								<%= form_tag  ({:controller=>"donates", :action=>"create"}) do%>
									<%= label_tag (:Name)%>
									<%= text_field_tag(:name) %></br>
									<%= label_tag (:Email)%>
									<%= text_field_tag (:email)%></br>
									<%= label_tag (:Comment)%>
									<%= text_area_tag(:comment)%></br></br>
									<%= submit_tag '',:class=>"submit_Btn"%>
								<%end%>
				</div>


	  </div>
	       <div id="overlayEffect">
         </div>
  <!--end popup content-->
