				<div id="get_involved">
							<div id="get_involved_content">
									<div class="get_involved_title">
											<%= image_tag "getinvolvedTitle.png" %>

									</div>	<!--end of get_involved_title-->
									<div id="get_involved_image">
										<div id="get_involved_text">
											<p>YOUR SUPPORT MEANS WE CAN HELP THE UK'S MOST VULNERABLE AND NEGLECTED CHILDREN AND YOUNG PEOPLE</P>
										</div>		<!--end of get_involved_text-->
									<div class="get_involved_by">
										<%= image_tag "newsletter_Btn.png",:class=>"signup" %>

										<%= image_tag "campaign_Btn.png",:class=>"signup" %>
										<%= image_tag "volunteer_Btn.png",:class=>"signup" %>

										<%= image_tag "donate_2_Btn.png",:class=>"signup" %>
									</div>		<!--end of get_involved_by-->
									</div>		<!--get_involved_image-->
							</div>	<!--end of get_involved_content-->
				</div>		<!--end of get_involved-->
