<div id="image_slider">
				<div id="children_slider">
         	<%= image_tag "prev.png",:class=>"prev" %>
					 	
            <div id="children">
							
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
    				</div>   <!--end of children-->	
           		<%= image_tag "next.png",:class=>"prev" %>
						 	</div>     
</div>		<!--end of image_slider-->	
