
<div id="image_slider">
	<div id="children_slider">

        <div class="prev">

                  <a class="previous_image" href="#"></a>

							<div class="button_border">
							</div>
				</div>

				<div id="children">

            <ul class="resize">
                <li><a href="/pages/children"><%=image_tag"Alisha.png", :class=>"slide" %></a>
                  <span class='imgname'><strong>Alisha</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
                </li>
                <li><a href="/pages/children"><%=image_tag"Anita.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Anita</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
                </li>
                <li><a href="/pages/children"><%=image_tag"Babita.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Babita</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
                </li>
                <li><a href="/pages/children"><%=image_tag"Barme.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Barme</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
                </li>
                <li><a href="/pages/children"><%=image_tag"basundhara.png", :class=>"slide" %></a>
                  <span class='imgname'><strong>Basundhara</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
                </li>
                <li><a href="/pages/children"><%=image_tag"devaki.png", :class=>"slide" %></a>
                  <span class='imgname'><strong>Devaki</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
                </li>
                <li><a href="/pages/children"><%=image_tag"dikshya.png", :class=>"slide" %></a>
                  <span class='imgname'><strong>Dikshya</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
                </li>
                <li><a href="/pages/children"><%=image_tag"jamuna.png" , :class=>"slide" %></a>
										 <span class='imgname'><strong>Jamuna</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span></li>
								<li><a href="/pages/children"><%=image_tag"junu.png" , :class=>"slide" %></a>
										 <span class='imgname'><strong>Junu</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span></li>
								<li><a href="/pages/children"><%=image_tag"kabita.png" , :class=>"slide" %></a>
											 <span class='imgname'><strong>Kabita</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span></li>
								<li><a href="/pages/children"><%=image_tag"namrata.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Namrata</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
									 </li>
								<li><a href="/pages/children"><%=image_tag"rabina.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Rabina</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span></li>
								<li><a href="/pages/children"><%=image_tag"rashila.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Rashila</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
									 </li>
								<li><a href="/pages/children"><%=image_tag"runa.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Runa</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
									 </li>
								<li><a href="/pages/children"><%=image_tag"sangita.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Sangita</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
									 </li>
							<li><a href="/pages/children"><%=image_tag"sarita.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Sarita</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
									 </li>
							<li><a href="/pages/children"><%=image_tag"sita.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Sita</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
									 </li>
							<li><a href="/pages/children"><%=image_tag"sunita.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Sunita</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
									 </li>
						<li><a href="/pages/children"><%=image_tag"goma.png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Goma</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
									 </li>
						<li><a href="/pages/children"><%=image_tag"gyanu (2).png" , :class=>"slide" %></a>
                  <span class='imgname'><strong>Gyanu</strong><h2>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h2></span>
									 </li>
             </ul>

				</div>

				<div class="next">

								<a class="next_image"  style= "float:right;" href="#"></a>

							<div class="button_border"  style= "float:left;">
							</div>
				</div>

	 </div>		<!--end of children_slider-->

</div>		<!--end of image_slider-->	
