<div id="image_slider">
				<div id="children_slider">
					    <div id="children">

								<div class="prev"><%= image_tag "prev.png"%></div>

<div class="anyClass" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 830px;">
    <ul style='width:2000px;'>
        <li><a href="#"><%= image_tag "children-alisha.jpg" , :alt=>""  , :class=>"child_image" %></a>
          <span class='img_name'>name 1</span>
        </li>
        <li><a href="#"><%= image_tag "children-anita.jpg" , :alt=>"" , :class=>"child_image" %></a>
          <span class='img_name'>name 2</span>
        </li>
        <li><a href="#"><%= image_tag "children-babita.jpg" , :alt=>"" ,  :class=>"child_image" %></a>
          <span class='img_name'>name 3</span>
        </li>
        <li><a href="#"><%= image_tag "children-namrata.jpg" , :alt=>"" , :class=>"child_image" %></a>
          <span class='img_name'>name 4</span>
        </li>
        <li><a href="#"><%= image_tag "aaa.jpg" , :alt=>"" ,:class=>"child_image" %></a>
          <span class='img_name'>name 5</span>
        </li>


     </ul>
</div>
<div class="next"><%= image_tag "next.png"%></div>
    				</div>   <!--end of children-->
							 	</div>
</div>		<!--end of image_slider-->	
