
<div id="image_slider">
	<div id="children_slider">

        <div class="prev1">

                  <a class="previous_image" href="#"></a>

							<div class="button_border">
							</div>
				</div>

				<div id="children">

            <ul class="resize">
                <li><%=image_tag"Alisha.png", :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Alisha</strong><h2>Age:11 </br>Class:4</br>Ambition:Actor</br>Hobby:Playing, Dancing and Singing</h2></a></span>
                </li>
                <li><%=image_tag"Anita.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Anita</strong><h2>Age:12 </br>Class:3</br>Ambition:Artist and Painting</br>Hobby:Painting and Playing with dolls</h2></a></span>
                </li>
                <li><%=image_tag"Babita.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Babita</strong><h2>Age:10 </br>Class:3</br>Ambition:Singer</br>Hobby:Singing and Reading story books</h2></a></span>
                </li>
                <li><%=image_tag"Barme.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Barme</strong><h2>Age:13 </br>Class:5</br>Ambition:Dancer</br>Hobby:Games Playing and Story books reading</h2></a></span>
                </li>
                <li><%=image_tag"basundhara.png", :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Basundhara</strong><h2>Age:13 </br>Class:5</br>Ambition:Artist and Lawyer</br>Hobby:Reading books, Playing games and Painting</h2></a></span>
                </li>
                <li><%=image_tag"devaki.png", :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Devaki</strong><h2>Age:14 </br>Class:9</br>Ambition:Nursing</br>Hobby:Reading story books, Playing games and Listening music</h2></a></span>
                </li>
                <li><%=image_tag"dikshya.png", :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Dikshya</strong><h2>Age:16 </br>Class:9</br>Ambition:Chef</br>Hobby:Cooking, Painting and Singing</h2></a></span>
                </li>
                <li><%=image_tag"jamuna.png" , :class=>"slide" %>
										 <span class='imgname'><a href="/pages/children"><strong>Jamuna</strong><h2>Age:10 </br>Class:2</br>Ambition:Chroregrapher</br>Hobby:Likes studing books</h2></a></span></li>
								<li><%=image_tag"junu.png" , :class=>"slide" %>
										 <span class='imgname'><a href="/pages/children"><strong>Junu</strong><h2>Age:9 </br>Class:1</br>Ambition:Chroregrapher</br>Hobby:Dancing and playing with music</h2></a></span></li>
								<li><%=image_tag"kabita.png" , :class=>"slide" %>
											 <span class='imgname'><a href="/pages/children"><strong>Kabita</strong><h2>Age:12 </br>Class:4</br>Ambition:Singer</br>Hobby:Listening music, Singing and Dancing</h2></a></span></li>
								<li><%=image_tag"namrata.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Namrata</strong><h2>Age:14 </br>Class:5</br>Ambition:Hotel Manager</br>Hobby:Reading books and Listening music</h2></a></span>
									 </li>
								<li><%=image_tag"rabina.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Rabina</strong><h2>Age:14 </br>Class:5</br>Ambition:Singer and Dancer</br>Hobby:Dancing and singing</h2></a></span></li>
								<li><%=image_tag"rashila.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Rashila</strong><h2>Age:12 </br>Class:4</br>Ambition:Air-hostess and Fashion Designer</br>Hobby:Painting and Reading</h2></a></span>
									 </li>
								<li><%=image_tag"runa.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Runa</strong><h2>Age:14 </br>Class:7</br>Ambition:Chroregrapher</br>Hobby:Novel reading, Adventure visits and Watching cartoon</h2></a></span>
									 </li>
								<li><%=image_tag"sangita.png" , :class=>"slide" %></a>
                  <span class='imgname'><a href="/pages/children"><strong>Sangita</strong><h2>Age:9 </br>Class:3</br>Ambition:Artist</br>Hobby:Playing games(cricket, Basketball, Skipping and Badminton)</h2></a></span>
									 </li>
							<li><%=image_tag"sarita.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Sarita</strong><h2>Age:12 </br>Class:3</br>Ambition:Singer</br>Hobby:Playing games, Reading and Writing story</h2></a></span>
									 </li>
							<li><%=image_tag"sita.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Sita</strong><h2>Age:13 </br>Class:5</br>Ambition:Hotel Manager</br>Hobby:To study, Playing and Cooking</h2></a></span>
									 </li>
							<li><%=image_tag"sunita.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Sunita</strong><h2>Age:13 </br>Class:5</br>Ambition:Artist and Beautician</br>Hobby:Dancing and Painting</h2></a></span>
									 </li>
						<li><%=image_tag"goma.png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Goma</strong><h2>Age:13 </br>Class:6</br>Ambition:Artist</br>Hobby:Dancing, Painting and Cooking</h2></a></span>
									 </li>
						<li><%=image_tag"gyanu (2).png" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Gyanu</strong><h2>Age:9 </br>Class:3</br>Ambition:Air-hostess</br>Hobby:Playing, Painting and Reading</h2></a></span>
									 </li>
						<li><%=image_tag"alisha.jpg" , :class=>"slide" %>
                  <span class='imgname'><a href="/pages/children"><strong>Gyanu</strong><h2>Age:17 </br>Class:Nursing</br>Ambition:Nurse</br>Hobby:Singing and Listening music</h2></a></span>
									 </li>
             </ul>

				</div>

				<div class="next1">

								<a class="next_image"  style= "float:right;" href="#"></a>

							<div class="button_border"  style= "float:left;">
							</div>
				</div>

	 </div>		<!--end of children_slider-->

</div>		<!--end of image_slider-->	
