
<div id="image_slider">
	<div id="children_slider">

        <div class="prev">
						
                  <a class="previous_image" href="#"></a>
						
							<div class="button_border">
							</div>
				</div>

				<div id="children">

            <ul class="resize">
                <li><a href="/pages/children"><%=image_tag"alisha.jpg" , :class=>"slide" %></a>
                  <span class='imgname'>name 1</span>
                </li>
                <li><a href="/pages/children"><%=image_tag"100.jpg" , :class=>"slide" %></a>
                  <span class='imgname'>name 2</span>
                </li>
                <li><a href="/pages/children"><%=image_tag"aaa.png" , :class=>"slide" %></a>
                  <span class='imgname'>name 3</span>
                </li>
                <li><a href="/pages/children"><%=image_tag"freinds.jpg" , :class=>"slide" %></a>
                  <span class='imgname'>name 4</span>
                </li>
                <li><a href="/pages/children"><%=image_tag"alisha.jpg" , :class=>"slide" %></a>
                  <span class='imgname'>name 1</span>
                </li>
                <li><a href="/pages/children"><%=image_tag"100.jpg" , :class=>"slide" %></a>
                  <span class='imgname'>name 2</span>
                </li>
                <li><a href="/pages/children"><%=image_tag"aaa.png" , :class=>"slide" %></a>
                  <span class='imgname'>name 3</span>
                </li>
                <li><a href="/pages/children"><%=image_tag"freinds.jpg" , :class=>"slide" %></a>
                  <span class='imgname'>name 4</span>
                </li>
             </ul>

				</div>

				<div class="next">
						
								<a class="next_image"  style= "float:right;" href="#"></a>
						
							<div class="button_border"  style= "float:left;">
							</div>
				</div>

	 </div>		<!--end of children_slider-->

</div>		<!--end of image_slider-->	
