
<div id="image_slider">
	<div id="children_slider">

        <div class="prev">
						<div class="previous_image"	>
                  <a href="#"><%= image_tag "previous_Btn.png",:class=>"prev_image" %></a>
						</div>
				</div>
				<div id="children">
						<div class="anyClass2" >
    <ul class="resize">
        <li><a href="#"><%=image_tag"alisha.jpg" , :class=>"slide" %></a>
          <span class='img_name' >name 1</span>
        </li>
        <li><a href="#"><%=image_tag"100.jpg" , :class=>"slide" %></a>
          <span class='img_name'>name 2</span>
        </li>
        <li><a href="#"><%=image_tag"aaa.png" , :class=>"slide" %></a>
          <span class='img_name'>name 3</span>
        </li>
        <li><a href="#"><%=image_tag"freinds.jpg" , :class=>"slide" %></a>
          <span class='img_name'>name 4</span>
        </li>
        <li><a href="#"><%=image_tag"alisha.jpg" , :class=>"slide" %></a>
          <span class='img_name'>name 1</span>
        </li>
        <li><a href="#"><%=image_tag"100.jpg" , :class=>"slide" %></a>
          <span class='img_name'>name 2</span>
        </li>
        <li><a href="#"><%=image_tag"aaa.png" , :class=>"slide" %></a>
          <span class='img_name'>name 3</span>
        </li>
        <li><a href="#"><%=image_tag"freinds.jpg" , :class=>"slide" %></a>
          <span class='img_name'>name 4</span>
        </li>
     </ul>
</div>
				</div>
				<div class="next">
						<div class="last_image">
								<a href="#"><%= image_tag "next_Btn.png",:class=>"next_image" %></a>
						</div>
				</div>

	 </div>		<!--end of children_slider-->

</div>		<!--end of image_slider-->	
