<div id="image_slider">
				<div id="children_slider">
					<div class="prev">
         	<%= image_tag "prev.png" %>
					</div>
					 	
            <div id="children">
							
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
								<%= image_tag "children-alisha.jpg",:class=>"child_image" %>
    				</div>   <!--end of children-->	
						<div class="next">
           		<%= image_tag "next.png",:class=>"next_image" %>
						</div>
						 	</div>     
</div>		<!--end of image_slider-->	
