<div id="lower_content">
     <div id="sub_lower_content">
				 <div id="facebook_like">
							<div class="fb_image">
									<%= image_tag "likefbtittle.png" %>
							</div>
              <div id="facebook_content">
              </div> 
				 </div>	

				<div id="get_involved">
							<div id="get_involved_content">
									<div class="get_involved_title">
											<%= image_tag "getinvolvedTitle.png" %>
												
									</div>	<!--end of get_involved_title-->
									<div id="get_involved_image">
										<div id="get_involved_text">
											<p>YOUR SUPPORT MEANS WE CAN HELP THE UK'S MOST VULNERABLE AND NEGLECTED CHILDREN AND YOUNG PEOPLE</P>
										</div>		<!--end of get_involved_text-->
									<div class="get_involved_by">
										<%= image_tag "newsletter_Btn.png",:class=>"signup" %>
									
										<%= image_tag "campaign_Btn.png",:class=>"signup" %>
										<%= image_tag "volunteer_Btn.png",:class=>"signup" %>
								
										<%= image_tag "donate_2_Btn.png",:class=>"signup" %>
									</div>		<!--end of get_involved_by-->
									</div>		<!--get_involved_image-->
							</div>	<!--end of get_involved_content-->
				</div>		<!--end of get_involved-->
				

		<div id="news">
							<div class="image_tag">
									<%= image_tag "news.png" %>
							</div>	<!--end of image_tag-->
							<div class="news_image">
									<%= image_tag "freinds.jpg",:class=>"freinds" %>
									<div class="news_text">
										<div class="strong">
											<strong>Latest news 1 is a text for test topic so who's it</strong>
										</div>		<!--end of strong-->
										
															
									<div class="latest_news">
													Latest news 1 is a text for test topic so who's it. Latest news 1 is a test for test topic so who's it. Latest......
									</div>		<!--end of latest-news-->
										<div class="read_more">
											<strong>read more</strong>
										</div>		<!--end of strong-->
								
								</div>	<!--end of news_text-->
							</div>		<!--end of news_image-->
<div class="news_image">
									<%= image_tag "freinds.jpg",:class=>"freinds" %>
									<div class="news_text">
										<div class="strong">
											<strong>Latest news 1 is a text for test topic so who's it</strong>
										</div>		<!--end of strong-->
										
															
									<div class="latest_news">
													Latest news 1 is a text for test topic so who's it. Latest news 1 is a test for test topic so who's it. Latest......
									</div>		<!--end of latest-news-->
										<div class="read_more">
											<strong>read more</strong>
										</div>		<!--end of strong-->
								
								</div>	<!--end of news_text-->
							</div>		<!--end of news_image-->
						
				</div>		<!--end of news-->



</div>
</div>
