
<div id="lower_content">
     <div id="sub_lower_content">
<div class="low_block_1">

 <%= render 'news_display' %>
<%= render 'get_involved'%>

<div class="add_block">
		<div class="add_block_content1">
				<%=image_tag "logo_forget_me_not.png",:class=>"forgemenot" %>
				<p>I fell in love with the children of Nepal, those with no family, no possessions, no schooling, and yet they had this beauty about them – their ability to smile and laugh, when in their wake lay nothing but hardships, was tremendously uplifting for me. </p>
			<div class="read_more">	<a href="http://www.forgetmenot.org.au/projects-nepal.php">read more</a></div>

		</div>
		<div class="add_block_content2">

		<%= image_tag "banner-copy.png" %>
		</div>
		<div class="add_block_content3">
				<div id="map_canvas" style="width:201px; height:248px;"></div>

		</div>
</div>
</div>

<div id="facebook_like">
							<div class="fb_image">
									<%= image_tag "likefbtittle.png" %>
							</div>
              <div id="facebook_content">

<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FMalieNaBirseu%2F155262331260057&amp;width=310&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23cfcfcf&amp;stream=true&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:558px;" allowTransparency="true"></iframe>
              </div>
				 </div>


</div>
</div>
