<div id="main_content">
			    	<div id="content">
											<div class="sub_content">
															<div class="color_red">
															</div>
																		<%= image_tag "who.png",:class=>"content_title" %>
																	<%= image_tag "children-alisha.jpg",:class=>"content_image" %>
											<div class="content_text">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
															 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
	
              				</div>	<!--end of content_text-->
			 								</div>	 <!--end of sub_content-->
 						</div>	 <!--end of content-->	
						<div id="content">
											<div class="sub_content">
													<div class="color_blue">
													</div>
														<%= image_tag "what.png",:class=>"content_title" %>
																				<%= image_tag "children-alisha.jpg",:class=>"content_image" %>
											<div class="content_text">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
															 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
	
              				</div>		<!--end of content_text-->	
 											</div>	 <!--end of sub_content-->
 					</div>	<!--end of content-->		
					<div id="content">
										<div class="sub_content">
													<div class="color_yellow">
													</div>
														<%= image_tag "how.png",:class=>"content_title" %>
                           <%= image_tag "children-alisha.jpg",:class=>"content_image" %>
																	
										<div class="content_text">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia luctus libero quis hendrerit.
															 Vivamus faucibus orci malesuada nunc viverra mattis. Nunc vel aliquet urna. Maecenas pharetra orci sed dolor gravida </p>
	
             			 </div>	<!--end of content_text-->	
 									 </div>	<!--end of content_text-->	
 					</div>	<!--end of content-->	
    </div>		<!--end of main_content-->	
