<div id="navigation">
   <div id="navigation_content">
               <div id="main_nav">
									<a href="pages/donate"><%= image_tag "donate.png",:class=>"donate_img"%></a>
                     <div id="nav">
												<ul>
                     				<li>
																
																	<%= link_to "Home",pages_index_path  %></li>
										 							<li><%= link_to "about us",pages_about_us_path  %></li>
										 							<li><%= link_to "get involved",pages_get_involved_path %></li>
										 							<li><%= link_to "events",pages_events_path  %></li>
										 							<li><%= link_to "chidren",pages_children_path  %></li>
																
								      	</ul>

							      	</div>	<!--end of nav-->
                      <a href="/">  <%= image_tag "malai_logo.png",:class=>"title_img"%></a>

             	 </div><!--end of main_nav-->
	   </div>
</div>  
