<!--popup content-->
	      <div id="popupContainers" class="hidden">
	        	<a id="closes" class="hiddens" title="closes popup"></a>
		         <h1 class="newsletter_signup">sponsor</h1>
			<div id="newsletter_text">
				<p>Sponsorship is a cash and/or in-kind fee paid to a property (typically in sports, arts, entertainment or causes) in return for access to the exploitable commercial potential associated with that property, according to IEG.

While the sponsee (property being sponsored) may be nonprofit, unlike philanthropy, sponsorship is done with the expectation of a commercial return.</p>
			</div>
						<div class="form_block">
								<%= form_tag  ({:controller=>"donates", :action=>"sponser"}) do%>
									<%= label_tag (:Name)%>
									<%= text_field_tag(:name) %></br>
									<%= label_tag (:Email)%>
									<%= text_field_tag (:email)%></br>
									<%= label_tag (:Comment)%>
									<%= text_area_tag(:comment)%></br></br>
									<%= submit_tag '',:class=>"submit_Btn"%>
								<%end%>
				</div>


	  </div>
	       <div id="overlayEffects">
         </div>
  <!--end popup content-->
