<div id="upper_content">
    <div id="main_content">
			   <div class="content">

            <div class="upper_image">
								<%= image_tag "whoyouare.png",:class=>"content_title" %>
								<a class="more_red" href="pages/who_we_are"></a>
						</div>		<!--end of upper_image-->
						<div class="content_image">
                 <% @whoweare.each do |t| %>
									  <%= image_tag "#{t.who_image}", :width=>"260",:height=>"auto"%>
								 <%end%>
            </div>	<!--end of content_image-->
					  <div class="content_text">
							   <% @whoweare.each do |t| %>
									   <p><%= t.who_desc%></p>
									<%end%>
             </div>
          </div>	 <!--end of content-->
					
 				<div class="content">
           	<div class="upper_image">
								<%= image_tag "whatwedo.png",:class=>"content_title" %>
								<a class="more_blue" href="pages/what_we_do"></a>
						 </div>
             <div class="content_image">
								<% @whatwedo.each do |t| %>
									 <%= image_tag "#{t.what_we_do_image}", :width=>"260",:height=>"auto"%>
								<%end%>
						 </div>
             <div class="content_text">
				        <% @whatwedo.each do |t| %>
									  <p><%= t.what_we_do_desc%></p>
								<%end%>
	             </div>	<!--end of content_text-->
         </div>	 <!--end of content-->
       <div class="content" style="margin:30px 0 0 0">
           <div class="upper_image">
							<%= image_tag "howtohelp.png",:class=>"content_title" %>
								<a  class="more_yellow" href="pages/how_to_help"></a>
						</div>
            <div class="content_image">
							<% @howtohelp.each do |t| %>
								 <%= image_tag "#{t.how_image}", :width=>"260",:height=>"auto"%>
							<%end%>
						</div>
            <div class="content_text">
				         <% @howtohelp.each do |t| %>
									  <p><%= t.how_desc%></p>
									<%end%>
	           </div>	<!--end of content_text-->
        </div>	 <!--end of content-->
<%= image_tag "line.png",:class=>"line_image" %>
			</div>
 	</div>	
